.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    height: 3rem;
    width: 100%;
    color:white;
    background-color: black;
}
.footer-text{
    font-size: .8rem;
}