:root{
  --green: rgb(0,214,70);
  --light-gray: rgb(147,157,171);
  --medium-gray: rgb(50,65,88);
  --dark-gray: rgb(51,59,80) ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-track-piece{
  background-color: transparent;
}

